.banner-image{
    display: flex;
    min-height: 600px;
    background-image: url("../content/background/stadium.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .48);
    background-size:cover;
}

.banner-image > h1{
    display: absolute;
    color: rgba(249, 249, 249, 0.9);
    font-size: 5em;
    /* Temp */
    font-family: sans-serif;
}

/* Flex related */
.container{
    display: inline-flex;
    flex-direction: row;
    vertical-align: top;
    justify-content: center;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 400px;
    min-width: 300px;
}

.container.row {
    flex-direction: column;
    background-color: white;
    margin: 4%;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.main{
    align-self: center;
}

.title{
    font-weight: bold;
    font-size: xx-large;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 6%;
}

.content{
    font-size: large;
    justify-content: center;
    justify-items: center;
    margin: 4%;
}

.image{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    min-height: 250px;
    min-width: 300px;
    margin: 4%;
}

/* Content */

#body-image-1 {
    background-image: url("../content/events/the-international-2.png");
}

#body-image-2 {
    background-image: url("../content/events/esl-2.png");
}

#body-image-3 {
    background-image: url("../content/events/Blast-Pro-Series-Tournaments.jpg");
}

