a
{
    text-decoration: none;
}

/* Banner */
#banner
{
    background-color: grey;
    margin-bottom: 25px;
}

.containerBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoBanner
{
    height: 500px;
    margin-bottom: -50px;
}

#buttonBanner
{
    background-color: #125472;
    width: 100px;
    color: white;
    padding: 10px 50px;
    font-weight: 700;
    margin-bottom: 50px;
    border-radius: 15px;
    text-decoration: none;
}

#buttonBanner:hover
{
    background-color: #bf616a;
}

/* event */
#event
{
    ;
}

.eventContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eventImage
{
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.eventText
{
    z-index: 2;
}