a
{
    text-decoration: none;
}

#banner
{
    background-color: grey;
}

.containerBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoBanner
{
    height: 500px;
    margin-bottom: -50px;
}

#buttonBanner
{
    background-color: #125472;
    width: 100px;
    color: white;
    padding: 10px 50px;
    font-weight: 700;
    margin-bottom: 50px;
    border-radius: 15px;
    text-decoration: none;
}

#buttonBanner:hover
{
    background-color: #bf616a;
}